stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  image: node
  script:
      - npm install
      - npm run build
      - echo Succesful build!
  artifacts:
    paths:
      - ./build
      - ./node_modules/
  only:
    - main


unit-test-job:
  stage: test 
  image: node
  script:
    - npm test

docker-build:
  stage: deploy
  image: docker:latest
  services: 
    - name: docker:19.03.8-dind
  before_script:
    - docker login -u yassirhabek -p Vredeoord123 yassirhabek/spotifyfrontend:latest
  script:
    - docker build --pull -t yassirhabek/spotifyfrontend:latest .
    - docker push yassirhabek/spotifyfrontend:latest
