stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  image: node
  script:
      - npm install
      - npm run build
      - echo Succesful build!
  artifacts:
    paths:
      - build
  only:
    - main


unit-test-job:
  stage: test 
  image: node
  script:
    - npm install
    - npm test
    - echo a

build-image:
  stage: deploy

  image: 
    name: docker:stable

  variables:
    DOCKER_HOST: tcp://localhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/cert"

  services:
   - name: docker:dind


  script:
    - docker login -u yassirhabek -p Vredeoord123
    - docker build -t yassirhabek/spotifyfrontend:latest .
    - docker push yassirhabek/spotifyfrontend:latest