@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
    background-color: #ECECEC;
    display: grid;
    place-items: center;
    margin: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

.uploadScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.fileLable {
    background-color: #1976D2;
    color: whitesmoke;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0rem;
}

.Textfield{
    color: whitesmoke;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #1976D2;
}

input {
    color: "blue"
  }