@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
    background-color: #acc1d8;
}

.uploadScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.fileLable {
    background-color: #1976D2;
    color: white;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #1976D2;
}

input {
    color: "blue"
  }