.Main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songName{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.artistName{
    margin: 0;
}

.fileUpload{
    margin: 0;
    padding: 0;
    text-align: center;
}